<!-- <footer class="border-top footer text-muted">
    <div class="container text-center">
        Meus Produtos - Desenvolvido por <a href="https://desenvolvedor.io">desenvolvedor.io</a>
    </div>
</footer> -->

<hr class="mt-5" />
<div class="container">
    <footer class="row">
        <div class="col-12 text-center">
            <p class="mb-0 mt-1">Desenvolvido por <strong>Ernane Toledo</strong> no projeto final</p>
            <p class="mb-0">do curso de <a href="https://angular.io" title="Site oficial do Angular" alt="Link site Angular" target="_blank">Angular</a> do <a href="https://desenvolvedor.io/" title="Link curso de Angular Desenvolvedor.io" title="Acessar curso de Angular Desenvolvedor.io" target="_blank"> desenvolvedor.io</a></p>
            <p>
                <a class="btn btn-link btn-sm px-1" href="https://linkedin.com/in/ernanetoledo"
                    title="Acesse meu Linkedin">
                    <i class="fab fa-linkedin fa-2x text-primary"></i>
                </a>
                <a class="btn btn-link btn-sm px-1" href="https://github.com/in/ernaneaugusto"
                    title="Acesse meu Github">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </p>
        </div>
    </footer>
</div>